Dictionary
Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'Harry' , 'age' : 22 , 'gender' : 'male' }

Characterstics:
Mutable
Indexing has no meaning
keys can't be duplicated
keys can't be mutable items

In [1]:
# empty dictionary
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [2]:
# 1D dictionary
d1 = {"name": "HArry", "age":22, "Gender":"male"}
print(d1)

{'name': 'HArry', 'age': 22, 'Gender': 'male'}

In [3]:
# with mixed keys
d2 = {(1,2,3):33, "name": "Harry"}
print(d2)

{(1, 2, 3): 33, 'name': 'Harry'}

In [4]:
# 2D dictionary
d3 = {
    "name": "Harry",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {"DSA":80, "Math":50, "English": 70}

}

print(d3)

{'name': 'Harry', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'Math': 50, 'English': 70}}

In [5]:
# using sequence and dict function
d4 = dict([("name", "bappy"), ("age", 22)])
print(d4)

{'name': 'bappy', 'age': 22}

In [6]:
# duplicate keys
d5 = {"name": "Harry", "name": "Alex", "age":22, "Gender":"male"}
print(d5)

{'name': 'Alex', 'age': 22, 'Gender': 'male'}

In [7]:
# mutable items as keys
d6 = {[1,2,3]:33, "name": "Rajesh"}
print(d6)

TypeError: unhashable type: 'list'

In [9]:
d1 = {"name": "Harryy", "age":22, "Gender":"male"}

In [10]:
d1["name"]

'Harryy'

In [11]:
d3["college_name"]

'ABC'

In [13]:
d1 = {"name": "Harsh", "age":22, "Gender":"male"}
print(d1)

{'name': 'Harsh', 'age': 22, 'Gender': 'male'}

In [14]:
d1["weight"] = 70

In [18]:
d3 = {
    "name": "Raju",
    "college_name": "ABC",
    "semester": 5,
    "subjects": {"DSA":80, "Math":50, "English": 70}

}

In [16]:
d3['subjects']['Python'] = 80

In [19]:
print(d3)

{'name': 'Raju', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'Math': 50, 'English': 70}}

In [20]:
d1 = {"name": "Rahul", "age":22, "Gender":"male"}
print(d1)

{'name': 'Rahul', 'age': 22, 'Gender': 'male'}

In [21]:
d1['name'] = "Alex"

In [22]:
d1 = {"name": "Harry", "age":22, "Gender":"male"}
# pop
d1.pop("age")
print(d1)

{'name': 'Harry', 'Gender': 'male'}

In [23]:
# popiteam
d1 = {"name": "Bappy", "age":22, "Gender":"male"}
d1.popitem()
print(d1)

{'name': 'Bappy', 'age': 22}