Higher Order Functions
map
filter
reduce

In [1]:
# square the items of a list
list(map(lambda x: x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [2]:
# odd/even labelling of list items
L = [1,2,3,4,5]
list(map(lambda x:'even' if x%2==0 else 'odd', L))

['odd', 'even', 'odd', 'even', 'odd']

In [3]:
# fetch names from a list of dict
users = [
    {
        'name':'Alex',
        'age':30,
        'gender':'male'
    },
    {
        'name':'Harry',
        'age':23,
        'gender':'male'
    },
    {
        'name':'max',
        'age':50,
        'gender':'female'
    }
]

list(map(lambda users:users['age'], users))

[30, 23, 50]

In [4]:
# numbers greater than 2
L = [1,2,3,4,5]
list(filter(lambda x:x>2, L))

[3, 4, 5]

In [5]:
# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']

list(filter(lambda x:x.startswith('a'),fruits))

['apple']

In [6]:
# sum of all item
import functools
L = [1,2,3,4,5]
functools.reduce(lambda x,y:x+y, L)

15

In [7]:
# find min
functools.reduce(lambda x,y:x if x<y else y,[23,11,45,10,1])

1