Common Functions/Methods
len
max
min
sorted

In [1]:
s = "Welcome to Python"

In [2]:
len(s)

17

In [3]:
max(s)

'y'

In [4]:

sorted(s)

[' ',
 ' ',
 'P',
 'W',
 'c',
 'e',
 'e',
 'h',
 'l',
 'm',
 'n',
 'o',
 'o',
 'o',
 't',
 't',
 'y']

In [5]:
s = "hello world"
sorted(s)

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [6]:
s = "hello world"
sorted(s, reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

Strings Functions/Methods
Capitalize
Title
Upper
Lower
Swapcase

In [7]:
s = "welcome to python"
s.capitalize()

'Welcome to python'

In [8]:
print(s)

welcome to python

In [9]:
s.title()

'Welcome To Python'

In [10]:
s.upper()

'WELCOME TO PYTHON'

In [11]:
s = 'wElCoMe'
s.swapcase()

'WeLcOmE'

In [12]:
s.count("n")

0

In [13]:
s.count("e")

1

In [14]:
s.find("z")

-1

In [15]:
s.index("z")

ValueError: substring not found

In [16]:
name = "Harsh"
gender = "Male"

s = "My name is {1}, and I am a {0}"

In [17]:
s.format(gender, name)

'My name is Harsh, and I am a Male'

In [18]:
s = "Welcome {} to facebook"
name = "Alex"

s.format(name)

'Welcome Alex to facebook'

In [19]:
s = "Harsh123@"
s.isalnum()
False
s = "Harsh123"
s.isalpha()
False
s = "12"
s.isdigit()
True
s = "name_age"
s.isidentifier()

True

In [20]:
s = "My name is "
s.split()

['My', 'name', 'is']

In [21]:
s = "My,name is,Harsh"
s.split(",")

['My', 'name is', 'Harsh']

In [22]:
s = "My name is Harsh"
s.replace("Harsh", "Raj")

'My name is Raj'

In [24]:
s=s.strip()

In [25]:
print(s)

My name is Harsh