Tuples
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

Ordered
Unchangeble
Allows duplicate

In [1]:
#Creating Tuples
#empty tuple
t1 = ()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [3]:
# create a tuple with a single item

t2 = ("Harry",)
t3 = ("Harry")
print(t2)
print(t3)
print(type(t2))
print(type(t3))

('Harry',)
Harry
<class 'tuple'>
<class 'str'>

In [4]:
# homo
t3 = (1,2,3,4)
print(t3)

# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)

# nested tuple
t5 = (1,2,3,(4,5))
print(t5)

# using type conversion
t6 = tuple('hello')
print(t6)

(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

Accessing Items
Indexing
Slicing

In [5]:
t3 = (1,2,3,4)
t3[0]

1

In [6]:
t3[0:3]

(1, 2, 3)

In [7]:
t3 = (1,2,3,4)
t3[0] = 100

TypeError: 'tuple' object does not support item assignment

In [8]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

In [9]:
t3 = (1,2,3,4)

temp = list(t3)

print(temp)

[1, 2, 3, 4]

In [10]:
temp.append(200)
temp

[1, 2, 3, 4, 200]

In [11]:
t3 = tuple(temp)
t3

(1, 2, 3, 4, 200)